//
//  Secret.xcconfig
//  CryptCloudViewer
//
//  Created by rei9 on 2025/11/10.
//

// Configuration settings file format documentation can be found at:
// https://developer.apple.com/documentation/xcode/adding-a-build-configuration-file-to-your-project

kReceiverAppID = 
GIDClientID = 
GIDURLScheme = 
