<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en_us</string>
	<key>CFBundleName</key>
	<string>CryptCloudViewer</string>
	<key>CFBundleIdentifier</key>
	<string>maccatalyst.info.lithium03.ccViewer.help</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundlePackageType</key>
	<string>BNDL</string>
	<key>CFBundleShortVersionString</key>
	<string>1</string>
	<key>CFBundleSignature</key>
	<string>hbwr</string>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>HPDBookType</key>
	<string>3</string>
	<key>HPDBookAccessPath</key>
	<string>index.html</string>
	<key>HPDBookTitle</key>
	<string>maccatalyst.info.lithium03.ccViewer.help</string>
</dict>
</plist>
